<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading">Clubs</p>
    <% Post::CLUBS.each do |club| %>
      <%= link_to @post, class: "panel-block" do %>
        <span class="panel-icon">
          <img src="https://bulma.io/images/placeholders/32x32.png">
        </span>
        c/<%= club %>
      <% end %>
    <% end %>
  </nav>
</div>